/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CSS RESETS ENDS HERE */

/* CUSTOM STYLES */
*,
*::before,
*::after {
    box-sizing: border-box;
}
body {
    background: url("../bg-intro-desktop.png"), 
                linear-gradient(to right, #FA7978, #FA7978);            
    background-size: cover;
}
/* CONTAINER */
.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 10em;
}
.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content-section {
    height: 100vh;
}
h1 {
    font-size: 48px;
    font-weight: 900;
    padding-bottom: 1em;
}
 .text-container {
     width: 40%;
     color: #fff;
 }
 .text-container {
     font-size: 18px;
     font-weight: 600;
 }
 .form-container {
     width: 40%;
 }
 .try-free {
     width: 100%;
     color: #fff;
     background: #5D54A3;
     text-align: center;
     padding: 1em;
     border-radius: 10px;
     box-shadow: 0px 5px 3px #D66E6C;
     margin-bottom: 2em;
 }
 .try-free a {
     color: rgb(150, 148, 148);
     text-decoration: none;
     font-weight: 100;
 }
 .try-free strong {
     font-weight: 900;
     color: #fff;
 }
 form {
     background: #fff;
     padding: 1em;
     border-radius: 10px;
     box-shadow: 0px 5px 3px #D66E6C;
     text-align: center;
 }  
 input {
     display: inline-block;
     width: 100%;
     margin-bottom: 1em;
     padding: 1em;
     border-radius: 12px;
     border: 1px solid rgb(212, 212, 212);
 }
 button {
     display: inline-block;
     width: 100%;
     padding: 1em;
     border-radius: 12px;
     color: #fff;
     background: #49CC8A;
     border: none;
     box-shadow: 0px 5px 3px #49cc8a;
     margin-bottom: .5em;
     cursor: pointer;
 }
 button a {
     text-decoration: none;
     font-size: 16px;
     color: #fff;

 }
 small {
     font-size: 12px; 
     font-weight: 100;
     color: grey;
 }
 small a {
     text-decoration: none;
 }
 .red {
     font-weight: 500;
     color: red;
 }